/* Calix Barrancas */

/* Header */
.navbar-brand span{
	width: 134px;
	height:50px;
	display:none;
}
.el-barrio .navbar-brand span.logoGris{
	display:block;
}
.el-proyecto .navbar-brand span.logoBlanco{
	display:block;
}
.logo span,
.navGris .navbar-brand span{
	background:url(../images/logo-nav-barrancas.png) no-repeat bottom left;
	width: 134px;
	height:50px;
}
.threeImagesArea ul,
#navbarSupportedContent{
	background: var(--white);
}
#navbarSupportedContent .navbar-nav li a{
	color: var(--black);
}

.textArea h1{
	color: var(--main-color);
}

/* Home */

.index .headerImage{
	background-image: url(../images/home/twowinds-urquiza.jpg);
}
.index .headerImage:after{
	content:'';
	width: calc( 100% - 29rem);
	height: 80px;
	z-index: 5;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	background:#fff;
}



.textImageArea.bgColor:before{
	background-color: var(--main-color);
}

.boxElProyecto:after{
	background-image: url(../images/imagen_proyecto.jpg);
}

.boxElBarrio:after{
	background-image: url(../images/imagen_barrio.jpg);
}

/* El Proyecto */

.el-proyecto .headerImage{
	background-image: url(../images/elProyecto/el-proyecto.jpg);
}
.frenteEdificio{
padding-bottom: 0;
	overflow: hidden;
}
.galeriaArea{
	padding:0;
	position: relative;
}
.galeriaArea::after{
	content:'';
	width: 100%;
	height: 50%;
	position: absolute;
	bottom:0;
	left: 0;
	z-index: 1;
	background:var(--white);
}
.galeriaArea .container-fluid{
	position:relative;
	z-index: 5;
}

.twoImagesMiddleTextArea li:nth-child(2){
	background:var(--main-color);
}

/* Los Departamentos */
.los-departamentos .headerImage{
	background-image: url(../images/imagen_el_departamento.jpg);
}

/* El Barrio */
.el-barrio .header{
	padding-bottom: 14.0em;
}
.galeria-el-barrio ul{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	grid-template-areas:
		"image1 image1 image2 image3"
		"image1 image1 image4 image5"
		"image6 image7 image8 image8"
		"texto1 texto1 image9 image9"
		"image10 image11 image12 image12";
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}
.galeria-el-barrio ul li{
	overflow: hidden;
}
.galeria-el-barrio .image1{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
.galeria-el-barrio .image2{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;

}
.galeria-el-barrio .image3{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;

}
.galeria-el-barrio .image4{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
.galeria-el-barrio .image5{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;

}
.galeria-el-barrio .image6{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;

}
.galeria-el-barrio .image7{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;

}
.galeria-el-barrio .image8{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;

}
.galeria-el-barrio .image9{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;

}
.galeria-el-barrio .image10{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;

}
.galeria-el-barrio .image11{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;

}
.galeria-el-barrio .image12{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 6;

}
.galeria-el-barrio .texto1{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	padding: 70px;
	text-align:left;

}




/* Background White */
.plantaArea h4,
.textArea h2,
.textArea h3,
.textImageArea article a,
.index .textImageArea.imageBgRight h2,
.textMapArea h2,
.text2_3ImageArea p span,
.threeImagesArea .playVideo:before,
.navGris .header h1,
.linksArea a,
.disponibilidadArea h2 strong{
	color: var(--main-color)
}

/* Disponibilidad Pisos */
.pisos{
	width:189px;
	height: 183px;
	background: url(../images/planos/frente.png) no-repeat top center;
	padding:0px 18px 0;
}
.pisos li{
	position: relative;
	display: block;
}

.pisos a.piso0{height: 29px;}
.pisos a.piso1{height: 21px;}
.pisos a.piso2{height: 22px;}
.pisos a.piso3{height: 22px;}
.pisos a.piso4{height: 22px;}
.pisos a.piso5{height: 22px;}
.pisos a.piso6{height: 22px;}
.pisos a.piso7{height: 23px;}


.index .textImageArea.bgGray:before{
	background-color: var(--white);
}

@media (max-width: 575px) {
	.home article ul{
		padding-bottom: calc( 33.3333vh - 170px);
	}
	.home article ul li{
		padding-top: 20px;
		padding-bottom: 20px;
		overflow:hidden;
	}
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
	.home article ul{
		padding-bottom: calc( 33.3333vh - 170px);
	}
	.home article ul li{
		padding-top: 20px;
		padding-bottom: 20px;
		overflow:hidden;
	}
}
@media (max-width: 767px) {
	.index .headerImage {
    	background-image: url(../images/mobile/imagen_home.jpg);
	}
	.el-proyecto .headerImage {
    	background-image: url(../images/mobile/imagen_el_proyecto.jpg);
	}
	.el-barrio .headerImage{
		background-image: url(../images/mobile/imagen_el_barrio.jpg);
	}
	.los-departamentos .headerImage{
		background-image: url(../images/mobile/imagen_el_departamento.jpg);
	}
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}