/* Two WInds */
.container-fluid{
	padding-left: 5rem;
	padding-right: 5rem;
}

/* Header */
.navbar-brand span{
	width: 134px;
	height:50px;
	display:none;
}
.contacto .navbar-brand span.logoGris,
.el-equipo .navbar-brand span.logoGris,
.disponibilidad .navbar-brand span.logoGris,
.unidades .navbar-brand span.logoGris,
.amenities .navbar-brand span.logoGris,
.el-barrio .navbar-brand span.logoGris{
	display:block;
}
.el-proyecto .navbar-brand span.logoBlanco{
	display:block;
}
.logo span,
.navGris .navbar-brand span{
	background:url(../images/logo-nav-barrancas.png) no-repeat bottom left;
	width: 134px;
	height:50px;
}
.threeImagesArea ul,
#navbarSupportedContent{
	background: var(--white);
}
#navbarSupportedContent{
	overflow:auto;
}
#navbarSupportedContent .navbar-nav li{
	font-size: 4.0rem;
	line-height: 65px;
}
#navbarSupportedContent .navbar-nav li a{
	color: var(--paua);
	font-family: 'Spectral', serif;
	padding:0;
	font-size: 4.0rem;
	line-height: 65px;
}

.textArea h1{
	color: var(--main-color);
}

/* Home */

.index .headerImage{
	background-image: url(../images/home/twowinds-urquiza.jpg);
}
.index .headerImage:after{
	content:'';
	width: calc( 100% - 10rem);
	height: 80px;
	z-index: 5;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	background:#fff;
}
.index .mainBox h1{
	font-family: 'Montserrat', sans-serif;
	font-weight:100;
	font-size:14.5rem;
	color:var(--paua);
	padding:3.0rem 0;
}
.index .mainBox .logo{
	width: 245px;
	display:block;
	margin: 0 auto;
}
.index .mainBox p{
	padding-top:1.5rem;
	position: relative;
	font-size:25px;
}
.index .mainBox p:before{
	content: '';
	border-top: 1px solid white;
	width: 15%;
	position: absolute;
	top:0;
	left:50%;
	transform: translate(-50%,0);
}

.index .textoDestacado h4{
	padding:50px 0 30px;
}
.index .galeriaArea{
	padding:10.0em 0;
	position: relative;
}
.index .textGray{
	padding:6.0em 0 0;
	position: relative;
}

.textImageArea.bgColor:before{
	background-color: var(--main-color);
}

.boxElProyecto:after{
	background-image: url(../images/imagen_proyecto.jpg);
}

.boxElBarrio:after{
	background-image: url(../images/imagen_barrio.jpg);
}

/* El Proyecto */

.el-proyecto .headerImage{
	background-image: url(../images/elProyecto/el-proyecto.jpg);
}
.frenteEdificio{
padding-bottom: 0;
	overflow: hidden;
}
.galeriaArea{
	padding:14.0em 0 0;
	position:relative;
}
.backPaua{
	position:relative;
}
.backPauaTop::after{
	content:'';
	width: 100%;
	height: 50%;
	position: absolute;
	bottom:0;
	left: 0;
	z-index: 1;
	background:var(--white);
}
.backPauaBottom::after{
	content:'';
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	z-index: 1;
	background:var(--white);
	top:0em;
}
.bx-wrapper{
	background:transparent;
}

.backPaua .container-fluid{
	position:relative;
	z-index: 5;
}

.twoImagesMiddleTextArea li:nth-child(2){
	background:var(--main-color);
}

/* Los Departamentos */
.los-departamentos .headerImage{
	background-image: url(../images/imagen_el_departamento.jpg);
}

/* El Barrio */

.el-barrio .header{
	padding-bottom: 14.0em;
}

.galeria-el-barrio ul{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	grid-template-areas:
		"image1 image1 image2 image3"
		"image1 image1 image4 image5"
		"image6 image7 image8 image8"
		"texto1 texto1 image9 image9"
		"image10 image11 image12 image12";
	margin:-10px;
}
.galeria-el-barrio ul li{
	overflow: hidden;
	padding: 10px;
}
.galeria-el-barrio .image1{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
.galeria-el-barrio .image2{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;

}
.galeria-el-barrio .image3{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;

}
.galeria-el-barrio .image4{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
.galeria-el-barrio .image5{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;

}
.galeria-el-barrio .image6{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;

}
.galeria-el-barrio .image7{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;

}
.galeria-el-barrio .image8{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;

}
.galeria-el-barrio .image9{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;

}
.galeria-el-barrio .image10{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;

}
.galeria-el-barrio .image11{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;

}
.galeria-el-barrio .image12{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 6;

}
.galeria-el-barrio .texto1{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	padding: 0 8.33333%;
	text-align:left;
	align-self:center;
}

.galeria-el-barrio h3{
	font-family: 'Work Sans', sans;
	font-size: 14px;
	color: white;
	padding-bottom:60px;
	text-transform:uppercase;
}
.galeria-el-barrio .texto1 p{
	font-size: 21px;
	line-height: 35px;
}
.galeria-el-barrio p + p{
	padding-top:45px;
}

/* El proyecto */
.el-proyecto .videoLink{
	color:#fff;
}
.edificioArea > ul{
	display:flex;
	flex-wrap:nowrap;
	width:100%;
	padding-bottom:5rem;

}
.edificioArea > ul > li{
	width:40%;
}
.edificioArea > ul > li.col2{
	width: 20%;
}
.edificioArea .col1 li{
	text-align:right;
	padding: 0 20px;
}
.edificioArea .col3 li{
	text-align:left;
	padding: 0 20px;
}
.edificioArea .col3 li + li p{
	padding-bottom:30px;
}
.edificioArea small{
	color: var(--paua);
	font-size: 14px;
	font-weight:bold;
	font-family: 'Work Sans', sans;
	line-height: 23px;
	display:block;
}

.edificioArea p + small{
	padding:0;
}
.edificioArea p{
	color: white;
	font-size: 24px;
	line-height:36px;
}
.edificioArea .col1 ul,
.edificioArea .col3 ul{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:column;
	justify-content:space-between;
	height: 100%;
}
.edificioArea .col1  li + li small{
	padding-top:60px;
}
.el-proyecto .galeriaArea{
	padding-bottom:0;
}

/* Amenties */
.listAmenities{
	display:flex;
	flex-wrap:wrap;
}
.listAmenities li{
	width: 33.3333%;
	padding:40px;
	text-align:center;
}
.listAmenities li .spanImg{
	width:70px;
	display:block;
	margin: 0 auto 20px;
}
.listAmenities li h3{
	font-size:16px;
	font-weight:bold;
	color:var(--paua);
	font-family: 'Work Sans', sans;
	text-transform:uppercase;
	padding-bottom:20px;
}
.listAmenities li p{
	font-size:17px;
	line-height:21px;
	color: var(--paua);
}

.serviciosArea ul{
	display:flex;
	flex-wrap:wrap;
}
.serviciosArea ul li:first-child{
	width:100%;
}
.serviciosArea ul li{
	width:50%;
}
.serviciosArea h3{
	color:white;
	font-size: 14px;
	font-family: 'Work Sans', sans;
	text-transform: uppercase;
	padding-bottom:40px;
}
.serviciosArea p{
	font-size:41px;
	line-height: 51px;
	padding-right:30%; 
}
.serviciosArea ul li ul{
	flex-direction:column;
}

.serviciosArea .listadoPunto{
	
}
.serviciosArea .listadoPunto li{
	width:100%;
	color:var(--paua);
	font-family: 'Spectral', serif;
	font-size: 1.7em;
	line-height: 2.4rem;
	font-weight: 200;
	padding-bottom:25px;
}
.serviciosArea .listadoPunto li:before{
	content: '·';
	font-weight:900;
	font-size:20px;
	position: relative;
	padding-right:10px;
}

.serviciosArea h4{
	color:var(--paua);
	font-size: 17px;
	font-weight: 700;
	font-family: 'Work Sans', sans;
	text-transform: uppercase;
	padding-bottom:40px;
	line-height:36px;
}

.detallesArea{
	padding-top: 14.0rem;
	text-align:center;
}
.detallesArea h2{
	color:var(--paua);
	font-size: 17px;
	font-weight: 700;
	font-family: 'Work Sans', sans;
	text-transform: uppercase;
	padding-bottom:40px;
}
.detallesArea p{
	color:white;
	padding:0 40.0%;
}

.el-equipo .header{
	text-align:center;
}

.el-equipo .header p{
	font-size: 1.7em;
	line-height:2.4em;
	padding:0 25%;
}

/* Departamentos */
.departamentos h3{
	color: var(--dark-gray);
}

@media (max-width: 575px) {
	.home article ul{
		padding-bottom: calc( 33.3333vh - 170px);
	}
	.home article ul li{
		padding-top: 20px;
		padding-bottom: 20px;
		overflow:hidden;
	}
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
	.home article ul{
		padding-bottom: calc( 33.3333vh - 170px);
	}
	.home article ul li{
		padding-top: 20px;
		padding-bottom: 20px;
		overflow:hidden;
	}
}
@media (max-width: 767px) {
	.index .headerImage {
    	background-image: url(../images/mobile/imagen_home.jpg);
	}
	.el-proyecto .headerImage {
    	background-image: url(../images/mobile/imagen_el_proyecto.jpg);
	}
	.el-barrio .headerImage{
		background-image: url(../images/mobile/imagen_el_barrio.jpg);
	}
	.los-departamentos .headerImage{
		background-image: url(../images/mobile/imagen_el_departamento.jpg);
	}
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}