/* Calix Barrancas */

:root{
	--main-color: #0fb11b;
	--white: #fff;
	--bg-gray: #dcdee0;
}

/* Header */
.navbar-brand span{
	background:url(../images/logo-nav-barrancas.png) no-repeat top left;
	width: 134px;
	height:50px;
}
.logo span,
.navGris .navbar-brand span{
	background:url(../images/logo-nav-barrancas.png) no-repeat bottom left;
	width: 134px;
	height:50px;
}
.threeImagesArea ul,
#navbarSupportedContent{
	background: var(--main-color);
}
#navbarSupportedContent .navbar-nav li a{
	color: var(--white);
}

.textArea h1{
	color: var(--main-color);
}

/* Home */

.index .headerImage{
	background-image: url(../images/imagen_home.jpg);
}

.textImageArea.bgColor:before{
	background-color: var(--main-color);
}

.boxElProyecto:after{
	background-image: url(../images/imagen_proyecto.jpg);
}

.boxElBarrio:after{
	background-image: url(../images/imagen_barrio.jpg);
}

/* El Proyecto */

.el-proyecto .headerImage{
	background-image: url(../images/imagen_el_proyecto.jpg);
}
.twoImagesMiddleTextArea li:nth-child(2){
	background:var(--main-color);
}

/* Los Departamentos */
.los-departamentos .headerImage{
	background-image: url(../images/imagen_el_departamento.jpg);
}

/* El Barrio */

.el-barrio .headerImage{
	background-image: url(../images/imagen_el_barrio.jpg);
}
.boxUnBarrio:after{
	background-image: url(../images/universidad-di-tella.jpg);
}
.boxDosBarrio:after{
	background-image: url(../images/plantas.jpg);
}

/* Background White */
.plantaArea h4,
.textArea h2,
.textArea h3,
.textImageArea article a,
.index .textImageArea.imageBgRight h2,
.textMapArea h2,
.text2_3ImageArea p span,
.threeImagesArea .playVideo:before,
.navGris .header h1,
.linksArea a,
.disponibilidadArea h2 strong{
	color: var(--main-color)
}

/* Disponibilidad Pisos */
.pisos{
	width:189px;
	height: 183px;
	background: url(../images/planos/frente.png) no-repeat top center;
	padding:0px 18px 0;
}
.pisos li{
	position: relative;
	display: block;
}

.pisos a.piso0{height: 29px;}
.pisos a.piso1{height: 21px;}
.pisos a.piso2{height: 22px;}
.pisos a.piso3{height: 22px;}
.pisos a.piso4{height: 22px;}
.pisos a.piso5{height: 22px;}
.pisos a.piso6{height: 22px;}
.pisos a.piso7{height: 23px;}


.index .textImageArea.bgGray:before{
	background-color: var(--white);
}

@media (max-width: 575px) {
	.home article ul{
		padding-bottom: calc( 33.3333vh - 170px);
	}
	.home article ul li{
		padding-top: 20px;
		padding-bottom: 20px;
		overflow:hidden;
	}
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
	.home article ul{
		padding-bottom: calc( 33.3333vh - 170px);
	}
	.home article ul li{
		padding-top: 20px;
		padding-bottom: 20px;
		overflow:hidden;
	}
}
@media (max-width: 767px) {
	.index .headerImage {
    	background-image: url(../images/mobile/imagen_home.jpg);
	}
	.el-proyecto .headerImage {
    	background-image: url(../images/mobile/imagen_el_proyecto.jpg);
	}
	.el-barrio .headerImage{
		background-image: url(../images/mobile/imagen_el_barrio.jpg);
	}
	.los-departamentos .headerImage{
		background-image: url(../images/mobile/imagen_el_departamento.jpg);
	}
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}